
@media (min-width: 576px) {
    #header {display: none;}
    #headersm {display: block;}
}


@media (min-width: 768px) {
    #header {display: block;}
    #headersm {display: none;}
}


@media (min-width: 992px) {
    #header {display: block;}
    #headersm {display: none;}
}


@media (min-width: 1200px) {
    #header {display: block;}
    #headersm {display: none;}
}